<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

#SEGURIDAD
<IfModule mod_headers.c>
    # 1. HSTS (Fuerza conexiones estrictamente HTTPS)
    Header set Strict-Transport-Security "max-age=31536000; includeSubDomains"

    # 2. Protección CSP (Mitiga XSS) 
    Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' https://code.jquery.com; style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net; img-src 'self' data: https:;"

    # 3. Anti-Clickjacking (Impide que metan tu web en iframes externos)
    Header set X-Frame-Options "DENY"

    # 4. Anti-MIME-Sniffing (Fuerza al navegador a respetar los tipos de archivo)
    Header set X-Content-Type-Options "nosniff"
</IfModule>